.main-container {
  margin-top: 65px;
  margin-left: 290px;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.input-container {
  width: 900px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.expences-and-category {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.input-expences {
  box-sizing: border-box;
  width: 484px;
  height: 58px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.category-selection {
  box-sizing: border-box;
  width: 484px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #000000;
}

.add-expence-button {
  width: 370px;
  height: 58px;
  background: #0094ff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  cursor: pointer;
}

.output-container {
  width: auto;
  margin-top: 51px;
  display: flex;
  column-gap: 200px;
}
.total {
  padding-left: 25px;
  font-family: "Inter";
  font-style: normal;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.text {
  padding-top: 13px;
  display: flex;
  font-weight: 700;
}

.output {
  font-weight: 400;
}

.text-status {
  margin-top: 35px;
}

.status {
  font-weight: 400;
  color: green;
}

.status-red {
  color: red;
}

h2 {
  margin-bottom: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.history-list {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

ol {
  margin-left: 50px;
  list-style: decimal;
}

li {
  list-style: decimal;
}

.clear-expence-button {
  margin-top: 70px;
  width: 484px;
  height: 58px;
  background: #ff0000;
}

.clear-expence-button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.changeLimit {
  width: 62px;
  height: 62px;
  padding-left: 20px;
  background: url(../recources/changeLimit.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  cursor: pointer;
}
